body {
    margin:0;
    background-color: #F1F1F1;
}

#shade {
    margin:0;
    background-color: #4E729A;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;

}
.menu_part{
    background-color: yellow;
    display: flex;
}

.menu_button{
    background:blue;
    margin:5px;
    padding:10px;
}



.main_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.drug_form{
    border-radius: 6px ;
    box-shadow:  0 0 10px rgba(0,0,0,0.2);
    margin: 30px 60px 10px 60px;
    padding:20px;
    background-color: white;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    height:400px;
}


.info{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width:50%;
}


.image{
    height:100%;
    width:50%;
    background-color: red;
}




.navigation{
    background-color: red;
    height:50px;
    width: 100%;
    box-shadow:  0 -2px 0 rgba(0,0,0,0.2);


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


.navigation div{
    width:100%;
}